.app-form {
  &__control-group {

  }

  &__action-bar {
    text-align: right;
  }

  &__action {
    width: 150px;
  }
}

.app-control-group {
  width: 100%;

  &__control {

  }

  &__label {

  }

  &__error {

  }
}
