.app {
  &__header {

  }

  &__page {
    height: calc(100vh - 64px);
  }
}

.app-page {
  &__aside {

  }

  &__main {
    margin: 1em;
  }
}

.app-nav-list {
  min-width: 200px;

  &__icon {
    margin-left: 28px !important;
    margin-right: 12px !important;
  }
}
